body {
background:#222;
padding-top:3em;
}

.container {
background:#fefefe;
border:1px solid #ccc;
padding:2em;
}

article > h1:first-child{
margin-top: 0;
padding-top: 0;
}

h1 {
font-size: 28px;
color: #000;
}

h2 {
font-size: 24px;
border-bottom: 1px solid #ccc;
color: #000;
}

h3 {
font-size: 18px;
}

.progress {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
line-height:32px;
max-height:32px;
height:32px;
margin:0;
}

.navbar-inner,.progress {
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
}

.bar {
line-height:32px;
max-height:32px;
height:32px;
}

.nomargin {
margin:0;
}

input[type=text].tdinput {
border:0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
width:auto;
max-width:6em;
text-align:right;
background:inherit;
margin:0;
padding:0;
}

.align-right {
text-align:right!important;
}

.cpu-table {
border:1px solid #ddd;
background:#fefefe;
width:100%;
margin-bottom:1em;
table-layout:fixed;
}

.cpu-table td {
border:1px dashed #eee;
line-height:32px;
height:32px;
min-height:32px;
max-height:32px;
padding:0;
}

.cpu-table th {
border:1px solid #ddd;
}